* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.active {
  text-decoration: underline;
}

.nav {
  width: 100%;
  height: 12vh;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav h2 {
  font-size: 25px;
  color: white;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.nav .link-home {
  color: white;
  text-decoration: none;
  font-size: 25px;
  margin: 0 20px 0 0;
}

.footer {
  width: 100%;
  height: 16vh;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer h2 {
  font-size: 25px;
  color: white;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.home-total {
  min-height: 100vh;
  width: 100%;
}

.home-total .home-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
      grid-template-columns: repeat(4, 1fr);
  width: 90%;
  margin: auto;
  grid-gap: 20px;
  padding: 100px 0;
}

.search-bar {
  width: 100%;
  padding: 5% 5% 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.search-bar .search-wrapper {
  width: 30%;
}

.nav {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 0 5%;
}

.nav .navwrapper {
  width: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.nav .navwrapper a {
  color: yellow;
  text-decoration: none;
}

.desc-total {
  width: 100%;
  min-height: 100vh;
  padding-bottom: 100px;
}

.desc-total .desc-wrapper {
  width: 75%;
  margin: auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 40% 1fr;
      grid-template-columns: 40% 1fr;
  grid-column-gap: 25px;
}

.desc-total .desc-wrapper .desc-pic-container img {
  width: 100%;
}

.desc-total .desc-wrapper .desc-info-container {
  padding: 70px 35px 0 25px;
  position: relative;
}

.desc-total .desc-wrapper .desc-info-container p {
  margin: 0%;
  font-size: 20px;
}

.desc-total .desc-wrapper .desc-info-container span {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  background: #d3d3d375;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.desc-total .desc-wrapper .desc-info-container span svg {
  width: 36px;
  height: 36px;
}

.card-img, .card-img-top {
  width: 287px;
  height: 412px;
  -o-object-fit: cover;
     object-fit: cover;
}

.fav-total {
  width: 100%;
  min-height: 100vh;
  background-color: #d3d3d317;
}

.fav-total h1 {
  padding: 70px 0;
}

.fav-total .container .fav-wrapper .fav-card-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 101px 1fr;
      grid-template-columns: 101px 1fr;
  background-color: white;
  -webkit-box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.fav-total .container .fav-wrapper .fav-card-container .fav-pic {
  border-radius: 50%;
  overflow: hidden;
}

.fav-total .container .fav-wrapper .fav-card-container .fav-pic img {
  width: 100%;
}

.fav-total .container .fav-wrapper .fav-card-container .fav-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 30px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.fav-total .container .fav-wrapper .fav-card-container .fav-content h3 {
  font-size: 27px;
  font-weight: 400;
  text-transform: capitalize;
  font-family: 'Times New Roman', Times, serif;
  margin: 0;
}

.svg-active {
  color: red;
}
/*# sourceMappingURL=style.css.map */